.taxonomy {
	&.boxed { 
		margin:0;
		
		> li {
			border: 1px solid #00baff;
			display: inline-block;
			margin: 0 2px;
			padding: 2px 5px;
		}
		
	}
}

.category-item {
    margin-bottom: 60px;
    clear: both;
    display: table;
    position: relative;
}