/*Style for the Icon Shortcode*/


ul.icon-list {
	padding-left:0;
	li {
		list-style:none;
		margin-bottom:20px;
		display:flex;
		align-items:center;
		i.fa, span.list-title  {
			display:inline-block;
		}
		i.fa {
			padding-right:20px;
		}
	}
}